* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 1.2vw;
}
.body-box {
  /*border: 3px solid #e70606; /*временная рамка*/
  display: flex;  
  background: rgba(243, 235, 223, 0);  
  width: 98vw;
  height: 90vh;  
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf');
  font-weight: 300;
  font-style: italic;
}

h1 {
  max-width: 98vw;
  /*border: 3px solid #140909; /*временная рамка*/
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2em;
  /*text-align: center;*/  
  color: rgb(44, 36, 61);
  box-sizing: border-box;
  padding-left: 15%;
} 

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.5em;
  /*text-align: center;*/
  color: rgb(44, 36, 61);
}

p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 1em;
}

.functional-interface {  
    margin: 0 0 0 1%;
    /*border: 3px solid #140909; /*временная рамка*/
    width: 60%;   
}
/*Стили блока для ввода валюты, кратких значений и кнопки реверса*/
.input-container {
  /*border: 3px solid #140909; /*временная рамка*/
  align-items: center;
  justify-content: center;
  margin-top: 2%;  
  display: flex;  
  height: 10%;
}

.input-container input {  
  max-width: 12rem; 
  height: 2.5rem;  
  box-sizing: border-box;
  padding: 0.5em;  
  border: 1px solid #ccc; 
  border-radius: 0.5rem;  
  margin: 1em;
  font-size: 1.2rem;
}

.input-container .shortname {
  padding: 0 0 0 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  /*border: 3px solid #ea0c0c; /*временная рамка*/
  max-width: 3rem;   
}

.reverseburron {   
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 0 0 0;
  width: 2.2em;
  height: 2.2em;   
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.reverseChange {
  width: 100%;
  height: 100%; 
  margin: 0 0 0 0;   
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  background: rgba(0, 0, 0, 0.0);
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(15, 11, 11);
  box-shadow: 0 0 0.2em 0.1em;  
}

.reverseChange svg {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 0 0 0;
}

.reverseChange:hover {
  background-color: #f2efef;  
  cursor: pointer;
  padding: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  animation: 0.2s linear rotate;
}

.reverseChange svg:hover {
  margin: 0 0 0 0;
}

.reverseChange:active {  
  padding: auto;  
  cursor: pointer;  
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  box-shadow: none;
}
/*конец блока*/

/* Стиль статуса выбора валюты */
#pickStatus {
  display: flex;
  align-items: center;  
  justify-content: center;
  /*border: 3px solid #0b0a0a; /*временная рамка*/
  font-size: 1.2em;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
  font-weight: 300;
  color: rgb(148, 19, 19);
  margin-top: 0.5em;
  margin-bottom: 0.5em;  
  visibility: visible;
}
/*конец блока*/

/*Блок стилей для выбора валюты на обмен*/
.button-container {
  /*border: 3px solid #ea0c0c; /*временная рамка*/  
  margin-top: 1%;
  display: flex;
  flex-direction: column; 
  height: 20%;
  gap: 0.5em;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  box-sizing: border-box;
}

.change {
  width: 7em;
  height: 1.5em;
  margin: 0 0.85em;
  padding: 0 0 0 0;
  border-radius: 0.5rem;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 1.2em;
  border-width: 0.15em;
}

.change:hover{
  background-color: #b9b5b5; 
}

.pick-currency {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 1em;
  display: flex;  
  border: 3px solid #116d19;
  border-radius: 0.3rem;
  flex: 1;
  padding: 0 0 0 0;  
  margin: 0 1em;
  max-width: 30em;   
}
/*конец блока*/

/*Стили блока графиков*/
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: auto;
  border: 0.2em solid rgba(57, 66, 61, 0.41);  
  background-color: #cacaca;
  height: 57%;
  padding: 10 0 10 0;  
  width: 99%;
}

.chartfield {  
  height: 90%;
  width: 100%;  
}
/* Конец блока */


.information-interface {
  display: flex;
  flex-direction: column;
  margin: 0 1% 0 0;
  /*border: 3px solid #0b0a0a; /*временная рамка*/
  width: 40%;  
  padding: 1em;
}
.main-currencies-rates {
  /*border: 2px solid #ce2020; /*временная рамка*/  
  white-space: pre-wrap;
  color: rgb(54, 35, 23);
  font-size: 1.3rem;
  margin-bottom: 0.2em;
  
}

hr {  
  border-width: 0.3em;
  border-color: #847b7b;
}

.wallet-news {
  margin-top: 0.2em;
  font-size: 1.5em;
  border: 2px solid #847b7b; /*временная рамка*/
  
}

@media (max-width: 768px) {
  h1 {
    margin-top: 1em;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .functional-interface {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .information-interface {
      width: 100%;
  }

  .body-box {
    flex-direction: column;
  }
}